<footer id="footer">
    <div class="outer">
        <div id="footer-info">
            <div class="footer-left">
                &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            </div>
            <div class="footer-right">
                
            </div>
        </div>
        <% if (theme.visit_counter.on) { %>
            <div class="visit">
                <% if (theme.visit_counter.site_visit) { %>
                    <span id="busuanzi_container_site_pv" style='display:none'>
                        <span id="site-visit" ><%= theme.visit_counter.site_visit %>: 
                            <span id="busuanzi_value_site_uv"></span>
                        </span>
                    </span>
                <% } %>
                <% if (theme.visit_counter.site_visit && theme.visit_counter.page_visit) { %>
                    <span>, </span>
                <% } %>
                <% if (theme.visit_counter.page_visit) { %>
                    <span id="busuanzi_container_page_pv" style='display:none'>
                        <span id="page-visit"><%= theme.visit_counter.page_visit %>: 
                            <span id="busuanzi_value_page_pv"></span>
                        </span>
                    </span>
                <% } %>

                <span>
                    <span id="runTime">&nbsp;载入天数 时 分 秒...</span>
                </span>
            </div>
        <% } %>

        <script>
            var beginDate = new Date('2018/3/9 19:25:32');

            function createTime(){
                var delta = (new Date() - beginDate) / 1000;

                var days = Math.floor(delta / 60 / 60 / 24);
                var hours = Math.floor(delta / 60 / 60 - days * 24);
                var minutes = Math.floor(delta / 60 - days * 24 * 60 - hours * 60);
                var seconds = Math.floor(delta) % 60;

                document.getElementById('timeDate').innerHTML = 
                    ' | 本站已安全运行 <span class = "run_time">' + days 
                    + '</span> 天' +  ' <span class = "run_time">' + hours 
                    + '</span> 小时 <span class = "run_time">' + minutes 
                    + '</span> 分 <span class = "run_time">' + seconds + '</span> 秒';

            }

            setInterval('createTime()', 1000);

        </script>

    </div>
</footer>
